.container-cards-home.card { padding: 1rem; margin-right: 0.5rem; }
.container-cards-home.card .card-image { width: auto; border-radius: 0.5rem; height: 200px; aspect-ratio: 1/1; margin-bottom: 1rem; }
.container-cards-home.card .card-body { padding: 0; }
.container-cards-home.card .card-body .card-title { color: #284D5D; font-weight: 700;  word-break: break-word; font-size: 18px; height: 86px;  overflow: hidden; text-overflow: ellipsis; }
.container-cards-home.card .card-body .card-text { font-size: 16px; height: auto; max-height: 170px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.container-cards-home.card .card-body .btn { border-radius: 0.3rem; }
.container-cards-visibility-tablet { display: none; }
.container-cards-visibility-desktop { display: none; }

@media (max-width: 767px) { 
    .container-cards-categories { overflow: hidden; overflow-x: scroll; }
    .container-cards-home.card { padding: 1rem; min-width: 90%; margin-right: 0.5rem; }

}
/*Resolucion tablet*/
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container-cards-visibility-desktop { display: none;}
    .container-cards-visibility-mobile { display: none;}
    .container-cards-visibility-tablet { display: flex; overflow: hidden; overflow-x: scroll; }
    .container-cards { display: flex;  }
}
/*Resolucion desktop*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .btn { width: 100%; height: 40px; }
    .container-cards-visibility-mobile { display: none;}
    .container-cards-visibility-tablet {display: none;}
    .container-cards-visibility-desktop {
        display: block;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .container-fluid.cards-visibility-mobile { display: none; }
}
/*Resolucion desktop*/
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
/*Resolucion desktop*/
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }